<div class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden">
    <!-- Header -->
    <div class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8">
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Asignaturas</div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Add product button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openModal()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button>
        </div>

        <!-- Modal -->
        @if (showModal) {
        <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
            <div class="bg-white p-8 rounded shadow-lg w-96">
                <h2 class="text-xl font-bold mb-4">Agregar Asignatura</h2>
                <form [formGroup]="asignaturaForm">
                    <mat-form-field class="w-full mb-4">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre" formControlName="nombre">
                        @if (asignaturaForm.get('nombre').hasError('required') && asignaturaForm.get('nombre').touched) {
                        <mat-error>El nombre es obligatorio</mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field class="w-full mb-4">
                        <mat-label>Apellido</mat-label>
                        <input matInput placeholder="Apellido" formControlName="apellido">
                        @if (asignaturaForm.get('apellido').hasError('required') && asignaturaForm.get('apellido').touched) {
                        <mat-error>El apellido es obligatorio</mat-error>
                        }
                    </mat-form-field>

                    <div class="flex justify-end gap-2">
                        <button mat-button type="button" (click)="closeModal()">Cancelar</button>
                        <button mat-flat-button color="primary" type="button" (click)="submitForm()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        }
    </div>

    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto">
            @if (asignaturas.length > 0) {

            <div class="grid">
                <!-- Header -->
                <div
                    class="inventory-grid text-secondary sticky top-0 z-10 grid gap-4 bg-gray-50 px-6 py-4 text-lg font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8">
                    <div></div>
                    <div class="hidden md:block">
                        Curso
                    </div>
                    <div class="sm:block">Codigo</div>
                    <div class="hidden sm:block">
                        Nombre
                    </div>
                    <div class="hidden lg:block">
                        Opciones
                    </div>
                    <div></div>

                </div>
                <!-- Rows -->



            </div>
            @for(asignatura of asignaturas;
            track trackByFn($index, asignatura)) {
            <div
                class="inventory-grid text-secondary sticky top-0 z-10 grid gap-4  px-6 py-4 text-lg font-semibold  md:px-8">
                <div></div>
                <div class="hidden md:block text-secondary">
                    {{ asignatura.curso }}
                </div>
                <div class="sm:block text-secondary">
                    {{ asignatura.codigo }}
                </div>
                <div class="hidden sm:block text-secondary">
                    {{ asignatura.nombre }}
                </div>
                
                <div class="flex space-x-2">
                    <button mat-icon-button color="primary" (click)="editAsignatura(asignatura)">
                        <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteAsignatura(asignatura.id)">
                        <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    </button>
                <button mat-icon-button color="primary" (click)="showAsignatura(asignatura.id)">
                        <mat-icon [svgIcon]="'heroicons_outline:user'"></mat-icon>
                    </button>
                </div>
                <div></div>
            </div>
            }

            }@else {
            <div class="flex flex-1 flex-col items-center justify-center px-4 text-center sm:px-6 lg:px-8">
                <mat-icon class="mb-4 text-6xl text-secondary" [svgIcon]="'heroicons_outline:folder-open'"></mat-icon>
                <h2 class="mb-2 text-2xl font-bold text-secondary">No hay asignaturas</h2>
                <p class="mb-6 text-secondary">Parece que no tienes asignaturas. Haz clic en "Add" para crear
                    una
                    nueva.</p>
            </div>
            }


        </div>

    </div>
</div>