<div class="flex items-center justify-center w-screen h-screen bg-[url(assets/background.png)] bg-cover bg-center">
    <div class="backdrop-blur-lg bg-white/40 rounded-2xl shadow-lg p-8 mx-auto max-w-lg">
        <!-- Logo -->
        <div class="w-12 mx-auto mb-6">
            <img src="images/logo/logo.svg" />
        </div>

        <!-- Title -->
        <div class="text-4xl font-extrabold text-center mb-8">
            Sign in
        </div>

        <!-- Alert -->
        @if (showAlert) {
            <fuse-alert
                class="mb-6"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'"
            >
                {{ alert.message }}
            </fuse-alert>
        }

        <!-- Sign in form -->
        <form [formGroup]="signInForm" #signInNgForm="ngForm">
            <!-- Email field -->
            <mat-form-field class="w-full">
                <mat-label>Email address</mat-label>
                <input id="email" matInput [formControlName]="'email'" />
                @if (signInForm.get('email').hasError('required')) {
                    <mat-error> Email address is required </mat-error>
                }
                @if (signInForm.get('email').hasError('email')) {
                    <mat-error>
                        Please enter a valid email address
                    </mat-error>
                }
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field class="w-full">
                <mat-label>Password</mat-label>
                <input
                    id="password"
                    matInput
                    type="password"
                    [formControlName]="'password'"
                    #passwordField
                />
                <button
                    mat-icon-button
                    type="button"
                    (click)="
                        passwordField.type === 'password'
                            ? (passwordField.type = 'text')
                            : (passwordField.type = 'password')
                    "
                    matSuffix
                >
                    @if (passwordField.type === 'password') {
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:eye'"
                        ></mat-icon>
                    }
                    @if (passwordField.type === 'text') {
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:eye-slash'"
                        ></mat-icon>
                    }
                </button>
                <mat-error> Password is required </mat-error>
            </mat-form-field>

            <!-- Actions -->
            <div class="mt-2 flex items-center justify-between">
                <mat-checkbox
                    [color]="'primary'"
                    [formControlName]="'rememberMe'"
                >
                    Remember me
                </mat-checkbox>
            </div>

            <!-- Submit button -->
            <button
                class="fuse-mat-button-large mt-6 w-full bg-emerald-300 text-black transition-colors duration-300 ease-out hover:bg-emerald-400"
                mat-flat-button
                [disabled]="signInForm.disabled"
                (click)="signIn()"
            >
                @if (!signInForm.disabled) {
                    <span> Sign in </span>
                }
                @if (signInForm.disabled) {
                    <mat-progress-spinner
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                }
            </button>
        </form>
    </div>
</div>
